.photoFrame__wrapper {
    text-align: center;
}

.photoFrame {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    width: 250px;
    height: 300px;
    border: 1px solid #000;
    margin: 50px auto 0 auto;

    a {
        padding: 10px;
    }

    .cameraIcon {
        font-size: 50px;
    }
}

.DayPickerInput {
    width: 100%;
    text-transform: capitalize;

    input {
        width: 100%;
        padding: 0.375rem 0.75rem;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
    }

    input:focus {
        color: #495057;
        border-color: #80bdff;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }
}


